body, html {
  background-color: #333;
  color: #eee;
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url(images/cartoon-style-book-floating.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* FORM DESIGN */
#library {
  background-color: #c9c2bc;
  margin: 1rem;
  padding: .5rem;
  width: 700px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: rgba(4, 55, 105, 0.1) 0 1px 0;
}

/* TABLE DESIGN */

#table-container {
  /* background-color: #298e46; */
  display: flex;
  justify-content: center;
}

span {
  margin-left: 1rem;
}

#if-read {
  margin-left: 0;
  margin-right: 1rem;
}


.book-table {
  padding-top: 5rem;
  border-collapse: collapse;
  margin: 50px 0;
  font-size: 0.9em;
  min-width: 450px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.book-table thead tr {
  background-color: #243136 ;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

/* .book-table thead td {
  text-align: left;
} */

.book-table th,
.book-table td {
  padding: 5px 15px;
}

.book-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #3c6272;
}

.book-table tbody tr:nth-of-type(even) {
  background-color: #8db6b0;
  /* color: #009879; */
  
}

.book-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  display: flex;
  overflow: auto;
  justify-content: space-evenly;
  background-color: #fefefe;
  color: #009879;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.btn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn:hover {
  background-color: #2c974b;
}

.btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.edit-button {
  /* display: none; */
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 10px;
  user-select: none;
}

.edit-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
